body {
  background-color: #f8f9fa;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.custom-file-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image-name {
  margin-top: 10px;
  font-weight: bold;
}

#prediction-result {
  font-size: 20px;
  font-weight: bold;
}
