<!DOCTYPE html>
<html>
<head>
  <title>Plant Disease Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="text-center mb-4">Plant Disease Detection</h1>
    <form id="image-upload" method="post" enctype="multipart/form-data" action="/predict">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="image" name="image" accept="image/*" required>
        <label class="custom-file-label" for="image">Choose Image</label>
      </div>
      <div class="image-name"></div>
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">Upload and Predict</button>
      </div>
    </form>
    <div id="prediction-result" class="text-center mt-4"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
